services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_HOST: ${DB_HOST}
    ports:
      - "5432:5432"
    volumes:
      - ./data/db:/var/lib/postgresql/data
    restart: always
  web:
    build: .
    command: >
      sh -c "
        ls &&
        cd /code &&
        sleep 2 &&
        python manage.py migrate --no-input &&
        python manage.py createcachetable &&
        if [ \"$DJANGO_SUPERUSER_USERNAME\" ]; then
          python manage.py createsuperuser --noinput --username \"$DJANGO_SUPERUSER_USERNAME\" --email $DJANGO_SUPERUSER_EMAIL;
        fi &&
        python manage.py collectstatic --noinput &&
        gunicorn hyracorpbackend.wsgi:application --bind :8000
      "
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always
    env_file:
      - .env
volumes:
  data: {}
