name: Deploy Django to Server

on:
  push:
    branches:
      - main
jobs:
  magic_deploy:
    name: Deploy to server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10.14
      - name: Install SSH key to github server
        uses: kielabokkie/ssh-key-and-known-hosts-action@v1
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
          ssh-host: ${{ secrets.IP_HOST }}
      # - name: Install latest version of docker with experimental compose support
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install docker-compose
      - name: Generate env file Base64 encoded string (base64 -i .env)
        uses: RollyPeres/base64-to-path@v1
        with:
          filePath: ${{github.workspace}}/.env
          encodedString: ${{ secrets.ENV }}
      - name: Remote Docker compose up
        run: |
          docker context create remote --docker "host=ssh://${{secrets.SSH_USER}}@${{secrets.IP_HOST}}"
          docker context use remote
          docker image prune -f
          docker build . -t hyracorp:backend
          docker-compose --context remote -f docker-compose.yml down
          docker-compose --context remote -f docker-compose.yml --env-file ./.env up -d --force-recreate --build
