name: Deploy Django to Server

on:
  push:
    branches:
      - main
jobs:
  magic_deploy:
    name: Deploy to server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10
      - name: Install SSH key to github server
        uses: kielabokkie/ssh-key-and-known-hosts-action@v1
        with:
          ssh-private-key: ${{secrets.SSH_KEY}}
          ssh-host: ${{secrets.IP_HOST}}
      - name: Install latest version of docker with experimental compose support
        run: |
          pip install docker-compose
      - name: Generate env file Base64 encoded string (base64 -i .env)
        uses: RollyPeres/base64-to-path@v1
        with:
          filePath: ${{github.workspace}}/.env
          encodedString: ${{ secrets.ENV }}
